

/* CARP.html */  
.carp-big-poster{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}




.small-poster {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    padding: 20px 20px 20px 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}


.container-carp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 20px 40px 20px 40px;
    height: auto;
    
}
