.small-img {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


img{
    padding: 20px 20px 20px 20px;
    width: 100%;
    max-width: 500px;
    height: auto;
}


img:hover {
    transform: scale(2, 2);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
   
  }


.container-ux{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    padding: 20px 40px 20px 40px;
    height: auto;
    
}